<!--
    Template for Cap Tracker/View all Trades Page
-->

{% extends "liga/base.html" %}
{% block Title %} Cap Tracker {% endblock Title %}


{% block main_content %}
<div class="container table-responsive">

    <table class="table .table-sm table-hover">
        <thead>
        <tr>
            <th scope="col"></th>
            {% for owner in owner_list %}
            <th scope="col">{{owner.name}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <!-- Cap -->
        <tr>
            <td><b>Cap Space</b></td>
            {% for owner in owner_list %}
            <td> {{owner.cap}}</td>
            {% endfor %}
        </tr>
        <!-- Trades -->
        {% for trade in cap_exchange %}
        <tr>
            <td><a href="{% url 'captracker:viewTrade' trade.0 %}"> Trade {{trade.0}} </a></td>
            {% for owner in owner_list %}
            <td>
                {% if trade.1.owner == owner %}
                {{ trade.1.cap_rec }}
                {% elif trade.2.owner == owner %}
                {{ trade.2.cap_rec }}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}

        </tbody>
    </table>


</div>
<center><a href="{% url 'captracker:addTrade' %}" class="btn btn-info btn-lg mybtn">
    <span class="glyphicon glyphicon-plus"></span> Add Trade
</a></center>

{% endblock main_content %}
