<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">La Liga Fantasia Website</a>
    </div>
    <ul class="nav navbar-nav">
    <!-- Homepage -->
      <li class="nav-item">
        <a class="nav-link" href="/liga/">Homepage</a>
      </li>
    <!-- Rosters -->
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Rosters<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/liga/rosters/1">Kevin</a></li>
          <li><a href="/liga/rosters/2">Justin</a></li>
          <li><a href="/liga/rosters/3">Alex</a></li>
          <li><a href="/liga/rosters/4">Nikos</a></li>
          <li><a href="/liga/rosters/5">Luigi</a></li>
          <li><a href="/liga/rosters/6">Michael</a></li>
          <li><a href="/liga/rosters/7">Matt</a></li>
          <li><a href="/liga/rosters/8">Chinmay</a></li>
          <li><a href="/liga/rosters/9">Christain</a></li>
          <li><a href="/liga/rosters/10">Brent</a></li>
        </ul>
      </li>
      <!-- Franchise Tag -->
      <<li class="nav-item">
        <a class="nav-link" href="/franchise">Franchise Tag</a>
      </li>
      <!-- Cap Tracker -->
      <li class="nav-item">
        <a class="nav-link" href="/captracker">Cap Tracker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
    </ul>
  </div>
</nav>
