<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rosters</title>

{% include "liga/jquery_include.html" %}
</head>
<body>
{% include "liga/navbar.html" %}
<!--
    Main Table
-->
<div class="container">
    <h1> {{owner_name}} </h1>
    <form action="{% url 'liga:update' owner_id %}" method="post">
        {% csrf_token %}

    <table class="table .table-sm">
        <thead>
            <tr>
                <th scope="col">Position</th>
                <th scope="col">Player Name</th>
                <th scope="col">Price</th>
                <th scope="col">Keep?</th>
                <th scope="col">Franchise Tag</th>
            </tr>
        </thead>

        <!-- Each player's information -->
        <tbody>
      {% for item in ownership %}
            <tr>
              <td>{{item.athlete.position}}</td>
              <td>{{item.athlete.name}}</td>
              <td>{{item.athlete.price}}</td>
              <td> <input type="checkbox" name="item" id="item{{ forloop.counter }}" value="{{ item.athlete.id }}"
                          {% if item.athlete.kept %} checked {% endif %} >
              </td>
                <td> <input type="radio" name="franchise" id="franchise{{ forloop.counter }}" value="{{ item.athlete.id }}"></td>
            </tr>
      {% endfor %}
            <tr>
                <td><b>Max Cap: </b> </td>
                <td></td>
                <td>{{max_cap}} </td>
                <td></td>
                <td> <input type="submit" value="Submit"> </td>
            </tr>
            <tr>
                <td><b>Remaining Cap: </b> </td>
                <td></td>
                <td>{{rem_cap }} </td>
                <td></td>
                <td></td>
            </tr>
      </tbody>
    </table>

    </form>

</div>

</body>
</html>

