<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rosters</title>

{% include "liga/jquery_include.html" %}
</head>
<body>
{% include "liga/navbar.html" %}


<div class="container">
    <table class="table .table-sm">
        <thead> {{owner_name}}
            <tr>
                <th scope="col">Position</th>
                <th scope="col">Player Name</th>
                <th scope="col">Price</th>
                <th scope="col">Kept boolean</th>
                <th scope="col">Keep Checkbox?</th>
            </tr>
        </thead>
        <tbody>
      {% for item in ownership %}
            <tr>
              <td>{{item.athlete.position}}</td>
              <td>{{item.athlete.name}}</td>
              <td>{{item.athlete.price}}</td>
              <td>{{item.athlete.kept}}</td>
              <td> <input type="checkbox" aria-label="Checkbox for following text input"></td>
            </tr>
      {% endfor %}
            <tr>
                <td><b>Max Cap: </b> </td>
                <td></td>
                <td>{{max_cap}} </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Remaining Cap: </b> </td>
                <td></td>
                <td>{{rem_cap }} </td>
                <td></td>
                <td></td>
            </tr>
      </tbody>
    </table>
    <form action="{% url 'liga:update' owner_id %}" method="post">
        {% csrf_token %}
        {% for item in ownership %}
            <input type="radio" name="item" id="item{{ forloop.counter }}" value="{{ item.athlete.id }}">
            <label for="item{{ forloop.counter }}">{{ item.athlete.name }}</label><br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</div>




</body>
</html>

