<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rosters</title>
</head>
<body>
{% include "liga/navbar.html" %}


<div class="container">
    <table class="table .table-sm">
        <thead> {{owner_name}}
            <tr>
                <th scope="col">Position</th>
                <th scope="col">Player Name</th>
                <th scope="col">Price</th>
                <th scope="col">Keep?</th>
            </tr>
        </thead>
        <tbody>
      {% for item in kevin %}
            <tr>
              <td>{{item.athlete.position}}</td>
              <td>{{item.athlete.name}}</td>
              <td>{{item.athlete.price}}</td>
              <td> <input type="checkbox" aria-label="Checkbox for following text input"></td>
            </tr>
      {% endfor %}
            <tr>
                <td><b>Max Cap: </b> </td>
                <td></td>
                <td>{{max_cap}} </td>
                <td></td>
            </tr>
            <tr>
                <td><b>Remaining Cap: </b> </td>
                <td></td>
                <td>{{rem_cap }} </td>
                <td></td>
            </tr>
      </tbody>
    </table>
</div>


{% include "liga/jquery_include.html" %}
</body>
</html>

