{% extends "./trade_base.html" %}

{% block Title %} Add Trade{% endblock Title %}

{% block form_content %}

<div>
    <br>
    <div class="row">
        <!-- Owner 1 -->
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div>
                Owner 1:
                <select id="owner1">
                    <option value=-99 name="none"> Select a Owner</option>
                    {% for owner in owner_list %}
                    <option value={{owner.pk}} name={{owner.name}}> {{owner.name}}</option>
                    {% endfor %}
                </select> <br>
            </div>
            <br>
            <div>
                Player:
                <select id="player1">
                    <option value=-99 name="none"> Select a Player</option>
                    {% for roster in rosters_list %}
                    <option value={{roster.athlete.pk}} name={{roster.athlete.name}} class="{{roster.owner.pk}}">
                        {{roster.athlete.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
        <!-- Owner 2 -->
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div>
                Owner 2:
                <select id="owner2">
                    <option value=-99 name="none"> Select a Owner</option>
                    {% for owner in owner_list %}
                    <option value={{owner.pk}}> {{owner.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <Br>
            <div>
                Player:
                <select id="player2">
                    <option value=-99 name="none"> Select a Player</option>
                    {% for roster in rosters_list %}
                    <option value={{roster.athlete.pk}} name={{roster.athlete.name}} class="{{roster.owner.pk}}">
                        {{roster.athlete.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <span id="cap1">Cap: <input type="number"> </span>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <button class="glyphicon glyphicon-arrow-right" id="switchCap"></button>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <span id="cap2" style="display:none">Cap: <input type="number"> </span>
        </div>

    </div>
</div>
{% endblock form_content %}

{% block owner1 %}<span id="fowner">Owner 1</span> {% endblock owner1 %}
{% block owner2 %} <span id="sowner">Owner 2</span> {% endblock owner2 %}


{% block scripts %}
<script>

$(document).ready(function(){
    $("button#switchCap").click(function(){
            $("#cap1").toggle();
            $("#cap2").toggle();
            $("button#switchCap").toggleClass("glyphicon-arrow-right");
            $("button#switchCap").toggleClass("glyphicon-arrow-left");
    })
});
    //Changing owner 1
    $('#owner1').on('change', function(){
       console.log($('#owner1').val());
        filterList("owner1", "owner2");
        filterPlayers($('#owner1').val(), "player2");
        $("span#fowner").text($('#owner1 option:selected').text());
    });

    //Changing owner 2
    $('#owner2').on('change', function(){
       console.log($('#owner2').val());
        filterList("owner2", "owner1");
        filterPlayers($('#owner2').val(), "player1");
        $("span#sowner").text($('#owner2 option:selected').text());
    });

    //Filter list of owners
    function filterList(o1, o2) {
        $("#" + o2 + " > option").each(function() {
             $(this).show();
                if( $('#' + o1).val() == $(this).val()){
                  $(this).hide();
                }
        });
    }

    //Filter list of players depending on owner selected
    function filterPlayers(ownerid, which){
        $("#" + which + " > option").each(function() {
             $(this).show();
                if($(this).attr('class') != ownerid.toString()){
                  $(this).hide();
                }
        });

    }




</script>
{% endblock scripts %}


