<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cap Tracker</title>
</head>
<body>
{% include "liga/navbar.html" %}

<div class="container">

    <table class="table .table-sm">
        <thead>
            <tr>
                <th scope="col"></th>
                {% for owner in owner_list %}
                <th scope="col">{{owner.name}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <!-- Cap -->
            <tr>
                <td><b>Cap Space</b></td>
                {% for owner in owner_list %}
                <td> {{owner.cap}} </td>
                {% endfor %}
            </tr>
            <!-- Trades -->
            <tr>

            </tr>

      </tbody>
    </table>
</div>




{% include "liga/jquery_include.html" %}
</body>
</html>
</html>